h1,h2,h3,h4,h5,h6,p,ul,li,dl,dd,dt,ol,form,table,body,input{margin:0;padding:0;}
a{text-decoration:none;color:#333}
img{border:none; margin:0; padding:0;}
input{font:12px Arial;}
div{ text-align:left;}
ul{ list-style:none;}
ol{ list-style:none;}
body{text-align:center;font-size:12px;color:#333; background:#f7f5f6 url(../images/bid/body_bj.gif) repeat-x;}

/*top.css*/
#top{width:794px;height:125px; background:url(../images/bid/logo.png) no-repeat 18px 34px; align:left;padding-left:161px; margin:0 auto;}
#top .title{width:100%;height:125px;padding:35px 234px 0 0;}
#top .title p{ font: bold 25px/35px "����"; color:#333; text-align:center; background:url(../images/bid/xuxian_bj.gif) repeat-x bottom;}

/*master.css*/
#master{width:935px;margin:0 auto; background:#f7f5f6 url(../images/bid/bj_yy.png) repeat-y top;padding:10px 0 0 13px;}
#master .textarea{ width:914px;height:272px; border:1px solid #ff8b21; background:#fefef6;}
#master .liebiao{width:914px;float:left;margin-top:10px;}
.bianji{ font:13px "����";color:#999;margin-right:10px;}
#master .liebiao a:hover{ color:#FF9933; text-decoration:underline;}
#master .liebiao h1{width:920px;height:35px; float:left; background:url(../images/bid/h1_bj2.png) repeat-x bottom;}
.centent{width:449px;height:147px;float:left;padding:10px 9px 11px 19px;}

/*footer.css*/
#footer{width:947px;height:109px; margin:0 auto; background:url(../images/bid/bj_yy.png) repeat-y;padding:0 7px;}
