body{
	font-size:12px;
	background:url(../../../fusioncharts/stylev2/images/body-bg.png) repeat;
}
.body{
	min-width:1281px;
	_width:expression(((document.compatMode && document.compatMode=='CSS1Compat')? document.documentElement.clientWidth : document.body.clientWidth) < 1210? '1210px' : 'auto')
}
.body_div{
	width:1281px;
}
a{
	text-decoration:none;
}
#topbar{
	height: 27px;
	background: url(../../../fusioncharts/stylev2/images/topbar.gif) repeat-x left;
	line-height:27px;
}

.wrapbg{
	width:100%;
	float:left;
	padding:0;
	background:url(../../../fusioncharts/stylev2/images/shadow.png) repeat-y;
}
.logo-search{
	width:100%;
	float:left;
	height:91px;
	background:url(../../../fusioncharts/stylev2/images/top_bg.png) repeat-x;

}
.logo{
	float:left;
	width: 360px;
	height: 91px;
	margin-left:45px;
}
.logo_slfw{
	float:left;
	margin-top:39px;
	width: 90px;
	height: 31px;
	font-size:18px;
}

.search{
	float:right;
	width:320px;
	margin:30px 50px 0 0;
}
.search .keyword{
	float: left;
	border: none;
	outline:none;
	width: 207px;
	padding-left: 30px;
	height: 35px;
	line-height: 23px;
	background:url(../../../fusioncharts/stylev2/images/input_left_bg.gif) no-repeat;
}
.search .submit{
	float: left;
	cursor: pointer;
	border: none;
	width: 75px;
	height: 35px;
	text-indent:-9999em;
	background: url(../../../fusioncharts/stylev2/images/search_bg.gif) no-repeat left top;
}
.menu-bar{
	float:left;
	width:100%;
	height: 36px;
	background: #419FFF;
}
.search-button{
	background:url(../../images/statements/link_bg.gif) no-repeat;
	padding: 0 15px;
}
.search-button_ok{
	background:url(../../images/statements/hover_bg.gif) no-repeat;
	padding: 0 15px;
}
.search-button a,.search-button_ok a{
	color: #fff;
}
.current-search{
	background:url(../../../fusioncharts/stylev2/images/hover_bg.gif) no-repeat;
}
.search-input .input{
	border: 1px solid #C0C0C0; 
	height: 20px;
	/**line-height: 20px;*/ 
	margin-top:5px;
	width: 80px;
}
.search-input .submit{
	border:none;
	width:64px;
	height:25px;
	margin:4px 0 0 2px;
	/*text-indent:-9999em;*/
	cursor:pointer;
	background:url(../../../fusioncharts/stylev2/images/cx_subimt.png);
}
.searchArea{
	float:right;
	width:320px;
	height:91px;
	line-height:91px;
}
.herad_center{
	float:right;
	width:227px;
	height:87px;
	margin-right:10px;
	background:url(../../images/statements/cld_img.gif) no-repeat center center;
}
.allmall{
	float:left;
	position:relative;
}
.allmall-menu{
	float:left;
	width: 170px;
	height: 35px;
	font-size:13px;
	font-weight:bold;
	line-height:35px;
	text-align:center;
	color: #fff;
	background:url(../../../fusioncharts/stylev2/images/allmall_bg.png) no-repeat;
}
.mall-list{
	display: none;
	z-index: 9999;
	position: absolute;
	right: none;
	border: 2px solid #ED6E02;
	width: 310px;
	height: auto;
	background: #fff;
}
.date-bar{
	float:right;
	width:495px;
	height:35px;
	margin-right:26px;
}
.date-bar span{
	float: left;
	height: 35px;
	line-height: 35px;
	color: #fff;
}
.main-table{
	float:left;
	width:100%;
}
.main-table .area{
	float:left;
	width:453px;
	_width:432px;
	height: 444px;
	margin-left:18px;
	border: 1px solid #e6e6e6;
	background: #fff;
}
.tag-bar{
	float:left;
	width:100%;
	height:29px;
	background:url(../../../fusioncharts/stylev2/images/table_bg1.png) repeat-x;
}
.tag-bar .title{
	float: left;
	width: 161px;
	height: 29px;
	line-height:29px;
	text-align: center;
	font-weight:bold;
	font-size:12px;
	background: url(../../../fusioncharts/stylev2/images/biaoti_bg.png) no-repeat;
	color: #333;
}
.center{
	width:100%;
}
.center_main{
	width:1281px;
	margin:0 auto;
	background-color:#fff;
	padding-top:28px;
}
.hd{
	float:left;
	width:100%;
	height:29px;
	background:url(../../../fusioncharts/stylev2/images/table_bg1.png) repeat-x;
}
.section{
	float:left;
	width:100%;
	/*margin-bottom:20px;*/
}
.hd li{
	float: left;
	width: 104px;
	height: 29px;
	line-height:29px;
	text-align: center;
	font-weight:bold;
	font-size:12px;
	background: url(../../../fusioncharts/stylev2/images/table_btn2.png) no-repeat;
	color: #333;
	cursor:pointer;
}
.hd li.on{
	background: url(../../../fusioncharts/stylev2/images/table_btn.png) no-repeat;
}
.bhd{
	float:left;
	width:100%;
	height:29px;
	background:url(../../../fusioncharts/stylev2/images/table_bg1.png) repeat-x;
}
.bhd li{
	float: left;
	width: 161px;
	height: 29px;
	line-height:29px;
	text-align: center;
	font-weight:bold;
	font-size:12px;
	background: url(../../../fusioncharts/stylev2/images/table_lbtn2.png) no-repeat;
	color: #333;
	cursor:pointer;
}
.bhd li.on{
	background: url(../../../fusioncharts/stylev2/images/biaoti_bg.png) no-repeat;
}
.bbd{
	float:left;
	width:100%;
}
.on_title {
	background: url(../../../fusioncharts/stylev2/images/biaoti_bg.png) no-repeat;
	color: #333;
}
.fy_bb_table{
	text-align: center;
}
.fy_bb_table_div{
	overflow-x: hidden;
	overflow-y: scroll;
	height:349px;
	clear:both;
}

.fy_bb_table_div_dh{
	overflow-x: hidden;
	overflow-y: scroll;
	height:312px;
	clear:both;
}

.fy_bb_table_title1 a{
	font-weight:bold;
	color:#000;
}
.biaoti{
	background:url(../../../images/fusioncharts/tbale_bg.gif)repeat-x bottom;
}
.biaoti th {
	font: bold 13px/3px "����";
	color: #000;
	text-align: center;
	height:58px;
	line-height:17px;
	border: solid 1px #d8d8d8;
}
.fy_bb_table td{
	border-right: solid 1px #d8d8d8;
	border-bottom: solid 1px #d8d8d8;
}
.biaoti td span,th span{
	font-weight: 100;
}
.center_bb_tltle{
	width:100%;
	height:34px;
	background: url(../../images/statements/bb_title_bg_center.jpg) repeat-x;
	margin-bottom:18px;
}
.center_bb_tltle_head{
	width:420px;
	height:34px;
	line-height:34px;
	color:#fff;
	float:left;
	background: url(../../images/statements/bb_title_head.jpg) no-repeat;
}
.center_bb_tltle_head div{
	margin-left:19px;
	font-size:14px;
	font-weight:bold;
}
.center_bb_tltle_foot{
	width:21px;
	height:34px;
	float:right;
	background: url(../../images/statements/bb_title_bg_foot.jpg) no-repeat;
}
.ywlb{
	clear:both;
}
.ywlb_title{
	height:29px;
	line-height:29px;
	background: url(../../images/statements/yewuleibie_title_bg.jpg) repeat-x;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
}
.ywlb_select{
	float:right;
	margin-top:2px;
	margin-right:3px;
}
.ywlbDh_select{
	float:right;
	margin-top:7px;
	margin-right:3px;
	margin-left:5px;
}
.total-info{
	font-size:14px;
	margin-top:50px;
	margin-right: 10px;
	text-align:right;
}

#copyright .copy_color{
	height:30px;
	background-color:#419FFF
	}
#copyright{
	clear:both;
	width:100%;
	height:145px;
	margin:0 auto;
	margin-top:30px;
	text-align:center;
	
	}
.ft-logo{
	margin:30px 0px 10px 0px;
	text-align:center;
}
.ywlb_qbyt{
	cursor: pointer;
	margin-top: 4px;
	padding:3px;
	float:right;
	margin-right:3px;
	border: 1px solid rgb(235, 235, 235);
	background: rgb(245, 245, 245);
	color: rgb(96, 96, 96);
}