.a-back {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 30px;
	height: 32px;
	text-decoration: none;
}
.a-back span {
	display: inline-block;
	width: 10px;
	height: 18px;
	margin-top: 6px;
	background: url(../images/icon-back.png) -60px 0 no-repeat;
	background-size: 180px 180px;
	text-indent: -9999px;
}
.left-pop-sel {
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	position: absolute;
	width: 150px;
	right: 0px;
	z-index: 9999;
	overflow: hidden;
	-webkit-transform-origin: 0px 0px;
	opacity: 1;
	-webkit-transform: scale(1, 1);
	top: 0;
	font-size: 12px;
}
.left-pop-sel-wapper {
	background-color: #eee;
	-webkit-transition: -webkit-transform 0.4s;
	-webkit-transform-origin: 0px 0px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(260px, 0)
}
#screen {
	height: 39px;
	border-bottom: 1px solid #d5d5d5;
	background-color: #e8e8e8;
}
#screen h1 {
	font: 1.4em "微软雅黑";
	color: #7a7a7a;
	line-height: 39px;
	text-align: center;
	margin: 0;
}
#sort {
	background-color: #fff;
	border-bottom: 1px solid #d5d5d5;
}
.sort_h2 {
	height: 40px;
	font: 1.3em "微软雅黑";
	color: #000;
	line-height: 40px;
	padding: 0;
	margin: 0;
}
.sort_ul {
	color: #797979;
}
.sort_ul .ul_li {
	display: block;
	border-top: 1px solid #eee;
}
.cur {
	background: url(../images/icon-checked.png) no-repeat;
	background-position: 10px 13px;
}
.sort_ul .ul_li .ul_li_a {
	display: block;
	height: 35px;
	font: 1.1em "微软雅黑";
	line-height: 35px;
	padding: 0 30px;
	color: #838383;
	text-decoration: none;
}
.sort_ul .ul_li .tow_ul {
	overflow: hidden;
	padding: 0 0 2% 2%;
	background-color: #fff;
}
.sort_ul .ul_li .tow_ul li {
	float: left;
	border: 1px solid #fff;
	width: 48%;
	margin: 0.9% 0.9% 0 0;
}
.sort_ul .ul_li .tow_ul li a {
	display: block;
	height: 30px;
	font: 1em "微软雅黑";
	line-height: 30px;
	text-align: center;
	border: 1px solid #e7e7e7;
	color: #838383;
	text-decoration: none;
}
.sort_ul .ul_li .tow_ul li a:hover {
	color: #333;
	background-color: #f3f3f3;
}
.sort_ul .ul_li .tow_ul_1 {
	overflow: hidden;
	padding: 0 0 2% 2%;
	background-color: #fff;
}
.sort_ul .ul_li .tow_ul_1 li {
	float: left;
	border: 1px solid #fff;
	width: 48%;
	margin: 0.9% 0.9% 0 0;
}
.sort_ul .ul_li .tow_ul_1 li a {
	display: block;
	height: 30px;
	font: 1em "微软雅黑";
	line-height: 30px;
	text-align: center;
	border: 1px solid #e7e7e7;
	color: #838383;
	text-decoration: none;
}
.sort_ul .ul_li .tow_ul_1 li a:hover {
	color: #333;
	background-color: #f3f3f3;
}
.a-show-sort {
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url(../images/icon-change-shop.png);
	background-size: 20px 16px;
	position: absolute;
	top: 13px;
	right: 15px
}

.a-show-sort ui-btn-right {
	display: inline-block;
	width: 20px;
	height: 16px;
	background: url(../images/icon-change-shop.png);
	background-size: 20px 16px;
	position: absolute;
	top: 13px;
	right: 15px
}
.total-span {
	float: right;
	margin-top: 10px;
	margin-right: 6px;
	font-size: 0.8em;
}
.total-div {
	position: absolute;
	height: 30px;
	top: 42px;
	width: 100%;
}
