
#favorite{
	margin:10px 0;
	background-color:#fff;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	}
.favorite_title{
	height:37px;
	}
.favorite_title p{
	float:left;
	font:1.1em "????";
	line-height:37px;
	padding-left:2%;
	}
.favorite_title input{
	width:26%;
	height:20px;
	margin:5px 0 0 1.5%;
	border:1px solid #d4d4d4;
	}
.favorite_xz{
	overflow:hidden;
	
	}
.favorite_xz .favorite_a{
	display: block;
	float:left;
	width:49.5%;
	height:35px;
	font:1em Arial, Helvetica, sans-serif;
	line-height:35px;
	text-align:center;
	border-right:1px solid #eee;
	border-top:1px solid #eee;
	color: #838383;
	}
.favorite_xz .favorite_a_right_border{
	border-right:none;
	}
.favorite_xz .favorite_a:hover{
	color:#333;
	background-color:#f3f3f3;
	}
