<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>首页</title>
    <link th:href="@{~/style/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/user.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/font-awesome/css/font-awesome.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/edit/css/wangEditor.min.css}" type="text/css" rel="stylesheet"/>
    <script type='text/javascript'>
        function formsubmit() {
            //		var text=$("editor").html();
            var text = $("#editor").html();
            $("#infos").val(text);
            document.getElementById("tips").submit();
        }
    </script>
</head>
<body>
<!--导航部分-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login/loginUI}" th:unless="${session.login} ne null"><i class="fa fa-user-md"></i>管理员登陆</a>
                </li>
                <li><a th:href="@{/index/loginUI}" th:unless="${session.login} ne null"><i class="fa fa-user"></i>注册/登录</a>
                </li>
                <li><a th:href="@{/index/mycenter}" th:if="${session.login}"><i class="fa fa-user"></i>个人中心</a></li>
                <li><a th:href="@{/index/logout}" th:if="${session.login}"><i class="fa fa-user"></i>退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--导航部分-->
<div class="wrap container-fluid">
    <div class="container wrap-cont">
        <a class="nzz" th:href="@{index}"><span class="sort"> <i class="fa fa-paint-brush"></i> &nbsp;首页 </span> </a>|
        <a class="nzz" th:href="@{bloglist}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;论坛交流</span>
        </a>|
        <a class="nzz" th:href="@{mycenter}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;个人中心 </span>
        </a>
    </div>
    <div class="container-fluid"></div>
</div>


<div class="container user">
    <div class="position clearfix">
        <a href="#">首页</a> / 个人中心
    </div>
    <div class="user-cont clearfix">
        <div class="col-md-12  ">
            <form th:action="@{/index/apply}" id="tips" method="post"
                  enctype="multipart/form-data">
                <div class="user-right-n clearfix">
                    <h4>
                        <strong>填写申请</strong>
                    </h4>
                    开始时间
                    <select name="starttime" class="art-tit ipt" id="art-tit">
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
                        <option>21:00</option>
                        <option>22:00</option>
                        <option>23:00</option>
                    </select>
                    结束时间
                    <select name="endtime" class="art-tit ipt" id="art-tit">
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                        <option>13:00</option>
                        <option>14:00</option>
                        <option>15:00</option>
                        <option>16:00</option>
                        <option>17:00</option>
                        <option>18:00</option>
                        <option>19:00</option>
                        <option>20:00</option>
                        <option>21:00</option>
                        <option>22:00</option>
                        <option>23:00</option>
                    </select>
                    联系电话
                    <input type="text" name="tel" class="art-tit ipt"
                           id="art-tit">
                    <input type="hidden" name="id" th:value="${bean.id}"/>
                    <button type="submit"
                            class="btn btn-success sub">申请
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="foot navbar-inverse navbar-fixed-bottom">
    <ul class="list-inline">
        <li class="footer-ss"><a href="">在线反馈</a>
        </li>
        <li class="footer-ss"><a href="">帮助中心</a>
        </li>
    </ul>
</nav>

<script th:src="@{~/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/common.js}" type="text/javascript"></script>
<script th:src="@{~/js/editor.js}" type="text/javascript"></script>
<script th:src="@{~/js/wangEditor.min.js}" type="text/javascript"></script>
<script>
    var scrollTop = 0;
    $(window).scroll(function () {
        var nowScrollTop = $(document).scrollTop();
        if (nowScrollTop > scrollTop) {
            $('.wrap').addClass('hide-wrap');
        } else {
            $('.wrap').removeClass('hide-wrap');
        }
        scrollTop = nowScrollTop;
    });

    $('.nav-tabs li a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    });
</script>
</body>
</html>