<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>帖子列表</title>
    <link th:href="@{~/style/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/user.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/font-awesome/css/font-awesome.min.css}" type="text/css" rel="stylesheet"/>
</head>
</html>
<body>
<!--导航部分-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login/loginUI}" th:unless="${session.login} ne null"><i class="fa fa-user-md"></i>管理员登陆</a>
                </li>
                <li><a th:href="@{/index/loginUI}" th:unless="${session.login} ne null"><i class="fa fa-user"></i>注册/登录</a>
                </li>
                <li><a th:href="@{/index/mycenter}" th:if="${session.login}"><i class="fa fa-user"></i>个人中心</a></li>
                <li><a th:href="@{/index/logout}" th:if="${session.login}"><i class="fa fa-user"></i>退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--导航部分-->
<div class="wrap container-fluid">
    <div class="container wrap-cont">
        <a class="nzz" th:href="@{index}"><span class="sort"> <i class="fa fa-paint-brush"></i> &nbsp;首页 </span> </a>|
        <a class="nzz" th:href="@{bloglist}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;论坛交流</span>
        </a>|
        <a class="nzz" th:href="@{mycenter}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;个人中心 </span>
        </a>
    </div>
    <div class="container-fluid"></div>
</div>

<div class="container user">
    <div class="position clearfix">
        <a th:href="@{/index/index}">首页</a> / 论坛交流
        <button type="button" class="btn btn-info" id="write">
        <a th:href="@{/index/addBlog}"> <i
                class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;我要发帖 </a>
    </button>
    </div>
    <div class="user-cont clearfix">
        <div class="col-md-12">
            <div class="user-right-n clearfix">
                <ul id="right-tab" class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#myArticle" id="home-tab1" data-toggle="tab"><i
                            class="fa fa-book"></i>&nbsp;论坛交流</a>
                    </li>
                </ul>

                <div class="user-right-n clearfix tab-content">
                    <div role="tabpanel" class="tab-pane active" id="myArticle">
                        <div class="art-row" th:each="bean:${list}">
                            <a href="" class="author"><i class="fa fa-user"></i>&nbsp;<span></span> </a>
                            <a href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;<span
                                    th:text="${bean.time}"> </span> </a>
                            <a href="" class="time"><i class="fa fa-list-ul"></i>&nbsp;发表在:&nbsp;<span>前端</span></a>
                            <h4>
                                <a th:href="@{'/index/bloginfo?id='+${bean.id}}" class="title"
                                   th:text="${bean.title}"></a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="view-more" style=" text-align: center; " th:utext="${paging}">
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{~/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/common.js}" type="text/javascript"></script>
<script>
    var scrollTop = 0;
    $(window).scroll(function () {
        var nowScrollTop = $(document).scrollTop();
        if (nowScrollTop > scrollTop) {
            $('.wrap').addClass('hide-wrap');
        } else {
            $('.wrap').removeClass('hide-wrap');
        }
        scrollTop = nowScrollTop;
    });

    $('.nav-tabs li a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    });
</script>
</body>
</html>