<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>首页</title>
    <link th:href="@{~/style/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/index.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/font-awesome/css/font-awesome.min.css}" type="text/css" rel="stylesheet"/>
</head>
</html>
<body>
<!--导航部分-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login/loginUI}" th:if="${login}eq null"><i class="fa fa-user-md"></i>管理员登陆</a>
                </li>
                <li><a th:href="@{/index/loginUI}" th:if="${login}eq null"><i class="fa fa-user"></i>注册/登录</a>
                </li>
                <li><a th:href="@{/index/mycenter}" th:unless="${login} eq null"><i class="fa fa-user"></i>个人中心</a></li>
                <li><a th:href="@{/index/logout}" th:if="${login} ne null"><i class="fa fa-user"></i>退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--导航部分-->

<!--banner部分-->
<div class="container-fluid banner bank">
    <h1 class="text-center h1">体育馆预约</h1>
    <p class="text-center">各体育馆欢迎大家前来预约！</p>
    <div class="search-box center-block"></div>
</div>
<!--banner部分-->

<div class="wrap container-fluid">
    <div class="container wrap-cont">
        <a class="nzz" th:href="@{index}"><span class="sort"> <i class="fa fa-paint-brush"></i> &nbsp;首页 </span> </a>|
        <a class="nzz" th:href="@{bloglist}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;论坛交流</span>
        </a>|
        <a class="nzz" th:href="@{mycenter}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;个人中心 </span>
        </a>
    </div>
    <div class="container-fluid"></div>
</div>

<div class="container-fluid content-box" id="article">
    <div class="container content">
        <div class="col-lg-14 col-md-14 col-sm-14" id="art">

            <div class="col-lg-4 col-md-3 col-sm-4" style="margin-top:3px" th:each="bean:${list}">
                <a th:action="@{'index/info?id='+${bean.id}}"><img th:src="@{'~/'+${bean.urls}}" height="150px"/> </a>
                <div class="art-info">
                    <h4>
                        <a th:href="@{'index/info?id='+${bean.id}}" th:text="${bean.name}"></a>
                    </h4>
                    <small th:text="${bean.address}"></small>
                </div>
                <div class="art-fields">
                    <i class="fa fa-list-ul"></i> &nbsp; <span th:text="${bean.tel}"></span>
                </div>
                <div class="art-stars">
                    <i class="fa fa-heart"></i> <span class="star" th:text="${bean.type}">&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="view-more" style=" text-align: center; " th:text="${paging}"></div>
    </div>
</div>

<nav class="foot navbar-inverse navbar-fixed-bottom">
    <ul class="list-inline"></ul>
</nav>
<script th:src="@{~/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/common.js}" type="text/javascript"></script>
<script th:src="@{~/js/index.js}" type="text/javascript"></script>
</body>
</html>
