<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>个人中心</title>
    <link th:href="@{~/style/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/user.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{~/style/font-awesome/css/font-awesome.min.css}" type="text/css" rel="stylesheet"/>
</head>
</html>
<body>
<!--导航部分-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login/loginUI}" th:unless="${session.login} ne null"><i class="fa fa-user-md"></i>管理员登陆</a>
                </li>
                <li><a th:href="@{/index/loginUI}" th:unless="${session.login} ne null"><i class="fa fa-user"></i>注册/登录</a>
                </li>
                <li><a th:href="@{/index/mycenter}" th:if="${session.login}"><i class="fa fa-user"></i>个人中心</a></li>
                <li><a th:href="@{/index/logout}" th:if="${session.login}"><i class="fa fa-user"></i>退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--导航部分-->
<div class="wrap container-fluid">
    <div class="container wrap-cont">
        <a class="nzz" th:href="@{index}"><span class="sort"> <i class="fa fa-paint-brush"></i> &nbsp;首页 </span> </a>|
        <a class="nzz" th:href="@{bloglist}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;论坛交流</span>
        </a>|
        <a class="nzz" th:href="@{mycenter}"><span class="sort"><i class="fa fa-keyboard-o"></i> &nbsp;个人中心 </span>
        </a>
    </div>
    <div class="container-fluid"></div>
</div>

<!--主体部分-->
<div class="container user">
    <div class="position clearfix">
        <a th:href="@{index}">首页</a> / 个人中心
    </div>
    <div class="user-cont clearfix">
        <div class="col-md-12">
            <div class="user-right-n clearfix">
                <ul id="right-tab" class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#myArticle"
                                                              id="home-tab1" data-toggle="tab"><i class="fa fa-book"></i>&nbsp;我的文章</a>
                    </li>
                    <li role="presentation"><a href="#myCollection"
                                               id="home-tab2" data-toggle="tab"><i class="fa fa-star"></i>&nbsp;我的申请</a>
                    </li>
                </ul>

                <div class="user-right-n clearfix tab-content">
                    <div role="tabpanel" class="tab-pane active" id="myArticle">
                            <div class="art-row" th:each="bean:${blist}">
                                <a href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;<span th:text="${bean.time}"></span> </a>
                                <a href="" class="time"><i class="fa fa-list-ul"></i>&nbsp;发表在:&nbsp;<span>前端</span> </a>
                                <h4>
                                    <a  th:href="@{'/index/bloginfo?id='+${bean.id}}" class="title" th:text="${bean.title}"></a>
                                </h4>
                            </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="myCollection">
                            <div class="art-row" th:each="bean:${alist}">
                                <a href="" class="author"><i class="fa fa-user"></i>&nbsp;<span th:text="${bean.name}">
									</span> </a> <a href="" class="time"><i class="fa fa-clock-o"></i>&nbsp;
                                <span th:text="${bean.starttime }+'&nbsp;'+${bean.endtime}"></span>
                            </a> <a href="" class="time"><i class="fa fa-list-ul" th:text="'&nbsp;状态:'+${bean.state}+'&nbsp;'"></i>
                            </a>
                                <h4>
                                    <a href="" class="title" th:text="${bean.cname}"></a>
                                </h4>
                                <p th:text="'电话：'+${bean.tel}"/>
                            </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--主体结束-->
<nav class="foot navbar-inverse navbar-fixed-bottom">
    <ul class="list-inline">
        <li class="footer-ss"><a href="">在线反馈</a></li>
        <li class="footer-ss"><a href="">帮助中心</a></li>
        <li>Copyright © 2014-2016 </li>
    </ul>
</nav>

<script th:src="@{~/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{~/js/common.js}" type="text/javascript"></script>
<script>
    var scrollTop = 0;
    $(window).scroll(function () {
        var nowScrollTop = $(document).scrollTop();
        if (nowScrollTop > scrollTop) {
            $('.wrap').addClass('hide-wrap');
        } else {
            $('.wrap').removeClass('hide-wrap');
        }
        scrollTop = nowScrollTop;
    });

    $('.nav-tabs li a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    });
</script>
</body>
</html>